a {
    text-decoration: none;
    color:inherit;
}
ul {
    list-style: none;
    margin:0;
    letter-spacing: 0.200em;
    font-size:20px;
    position:relative;
}

.top{
    overflow:hidden;
    bottom:0;
}
.top ul {
    position:relative;
    top:100%;
}
.main {
    overflow:hidden;
}
.main ul {
    font-size:50px;
}
.main li {
    margin-bottom:20px;
    margin-top:20px;
}
.bottom {
    overflow:hidden;
}
.bottom ul {
    top:-15%;
}
.breakW {
	background:#fff;
	height:25px;
	width:2px;
	margin:10px auto;
	opacity: 0.6;
}