<div class="top">
  <ul [style.top.%]="topPosition">
    <li *ngFor="let project of projects">
      {{ project.name }}
      <div class="breakW"></div>
    </li>
  </ul>
</div>
<div class="main">
  <ul [style.top.%]="position">
    <li *ngFor="let project of projects"><a [routerLink]="['/work/', project.link]">{{ project.name }}</a></li>
  </ul>
</div>
<div class="bottom">
  <ul [style.top.%]="bottomPosition">
    <li *ngFor="let project of projects">
      <div class="breakW"></div>
      {{ project.name }}
    </li>
  </ul>
</div>